.navbar{
    background-color: #2c2b30;
    text-align: center;
    
}
#title{
    color:#f58f7c;
    display: block;
    text-align: center;
    float: none;
}

body{
    font-family: "Lato" , sans-serif;
    background-color: #4f4f51 !important;
}

.input_container{
    padding-top:100px;
}

.container-fluid{
    text-align: center;
}

.step1,.step2,.step3{
    /* background-color: #d3d3d3; */
    /* rgb(139, 133, 133); */
    padding-bottom: 10px;

}

.step-num{
    color: gray;
    font-weight: 100;
}

p{
    color: lightgray;
}
.step-title{
    color: #f58f7c;
}

.step1-info,.step2-info,.step3-info{
    margin-left: 20px;
     
}


table{
    background-color: lightgray;
    /* border: 1px solid black; */
    /* border-color: red; */
    table-layout: auto;
    width: 100%;
}

table td{
    /* border: 1px solid black; */
    padding-right: 25px;
    font-weight: bold; 
    text-align: left;
    /* border-bottom: 0.1px solid rgba(245,143,124,255);     */
}

.table-container{
    background-color: lightgray;
    border-radius: 5px;
    padding:10px;
}
/* #tokenized-table t{
    width: 15px;
    height: 10px
} */

.input-box{
    margin-left: 20%;
}

.btn{
    color: #f58f7c;
    background-color: #2c2b30;
}

.btn:hover{
    color : white;
}